
.header {
    box-shadow: 0 1px 5px #2ba6b4;
    background-color: #bbdde2;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    margin: 0 60px;
    padding: 0 16px;
  }
  